/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpopus-shape-divider-cover {
	--wpopus-shape-divider-width: 100%;
	--wpopus-shape-divider-height: 35px;
	--wpopus-shape-divider-color: #000000;
	position: relative;
	overflow: hidden;

	.wpopus-icon {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 30;
		transform: translateX(-50%);
		height: var(--wpopus-shape-divider-height);
		width: calc( var(--wpopus-shape-divider-width) + 1.3px );
		color: var(--wpopus-shape-divider-color);

		&.bottom-placement {
			top: auto;
			bottom: 0;
		}

		&.flip-horizontal {
			-webkit-transform: scaleX(-1) translateX(50%);
  			transform: scaleX(-1) translateX(50%);
		}

		&.flip-vertical {
			-webkit-transform: scaleY(-1) translateX(-50%);
  			transform: scaleY(-1) translateX(-50%);
		}

		&.flip-vertical.flip-horizontal {
			-webkit-transform: scale(-1) translateX(50%);
  			transform: scale(-1) translateX(50%);
		}

		svg {
			height: 100%;
			width: 100%;
			color: inherit;
			fill: currentColor;

			ellipse,
			polyline,
			line,
			rect,
			circle,
			path {
				stroke: currentColor !important; 
			}
		}

	}
}
